.container {
    margin: 10rem;

    width: 50%;
}

.container p {
    margin: 1rem 0;
    
    text-align: justify;
}

@media (width <= 1250px) {
    .container {
        margin: 5rem;
        width: 70%;
    }
}

@media (width <= 800px) {
    .container {
        margin: 2rem;
        width: 90%;
    }
}

@media (width <= 650px) {
    .container {
        margin: 1rem;
    }
}