.roleContainer {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
}

.achievementsContainer p {
    margin: 1rem 0;

    text-align: start;
}

@keyframes colorChange {
    0% {
      color: red;
    }
    25% {
      color: blue;
    }
    50% {
      color: green;
    }
    75% {
      color: orange;
    }
    100% {
      color: red;
    }
  }

.highlightText {
    animation: colorChange 4s infinite;
    cursor: pointer;
}