.container {
    margin: 10rem;
}

@media (width <= 1250px) {
    .container {
        margin: 5rem;

        padding-bottom: 2rem;
    }
}

@media (width <= 800px) {
    .container {
        margin: 2rem;
    }
}

@media (width <= 650px) {
    .container {
        margin: 1rem;
        padding-bottom: 3rem;
    }
}